numpy>=1.21
scipy>=1.7
pandas>=1.3
scikit-learn>=1.0
matplotlib>=3.5
tqdm>=4.62
pyyaml>=6.0
omegaconf>=2.2
einops>=0.4

torch>=1.12,<2.3
torchvision>=0.13
pytorch-lightning==1.9.5

wandb>=0.13

nibabel>=4.0
antspyx>=0.3.5
monai>=1.0
h5py>=3.7

dgl>=1.1
histocartography>=0.2.1
